.bod{
    background-image: url(Images/bg.png);
}

.topnav {
    width: 100%;
    display: flex;
}
.topnav ul li{
    list-style: none;
    display: inline;
    margin:1em;
}
#fix{
    font-size: 120px;
    color: rgb(51, 50, 50);
}
.collection{
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.bod{
    width: 100%;
    display: flex;
}
h1 span{
    
    color: rgb(153, 11, 11);
}
.first{
    width: 60%;
}
.last{
    width: 40%;
    padding-left: 300px;
    display: flex;
}
.almost{
    text-align: center;
}
#head{
    font-size: 50px;
}
#left{
    width: 40%;
}
#right{
    width: 60%;
    
}
button{
    border-radius: 10%;
    background-color: rgb(184, 38, 38);
    color: white;
}
#but{
    background-image: linear-gradient(rgb(240, 102, 125),rgb(243, 179, 61));
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.best{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#pumas{
    transform: rotate(-30deg);
}
.puma{
    width: 30%;
    border: solid 3px;
    border-radius: 10%;
    background-image: linear-gradient(purple,rgb(203, 220, 221));
   
}
#pum{
    transform: rotate(-30deg);
}

.nike{
    width: 30%;
    border: solid;
    border-radius: 10%;
    background-image: linear-gradient(crimson,purple);
}
.adidas{
    width: 30%;
    border: solid;
    border-radius: 10%;
    background-image: linear-gradient(purple,blue);
}
#info{
    float: right;
}
#feat{
    text-align: center;
}
.shoe{
    width: 100%;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border-radius: 20px;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#one{
    width: 20%;
    border: solid white 1px;
    background-color: white;
}
#ton1{
    padding: 10px;
    color: white;
}
.ton{
    text-align: center;

}
#ton {
    border: solid orangered;
    margin-top: 20px;
    padding:10px 30px;
    color: orangered;
    background-color: white;

}
.almost{
    width: 100%;
}
#test{
    font-size: 25px;
    color: rgb(250, 99, 99);
    }
#buy{

}
#cart{
    
}
.cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
}
.da{
    width: 50%;
    background-color: whitesmoke;
    border: solid white 1px;
    margin: left 25px;
    
}
.de{
    width: 50%;
    background-color: whitesmoke;
    border: solid white 1px;
    margin-left: 10px;
    margin-right: 25px;
}
#two{
    width: 220px;
}
#twoo{
    float: right;

}
#mens{
    color: lightcoral;
}
.aftermain{
    background-color: rgb(233, 226, 226);
}
.aftermain h3{
    font-size: 30px;
    margin-left: 40px;
}
.there{
    width: 100%;
    height: 300px;
    display: flex;
    border: solid;
}
.too{
    width: 40%;
    float: left;
}
.taa{
    width: 50%;
    margin-left: 60px;
    

}

.front{
    width: 60%;
    height: 130px;
    margin-top: 10px;
    border: solid 1px;
    border-radius: 10%;
    z-index: 2;
    background-color: grey;
}
.back{
    width: 60%;
    height: 80px;
    margin-left: 50px;
    padding-top: 60px;
    border: solid 1px;
    border-radius: 10%;
    z-index: 1;
}
.finally{
    width: 100%;
    margin: 40px;
    background-color: rgb(221, 150, 185);
    text-align: center;
    border: solid 0.5px;
    padding: 20px -50px;
    border-radius: 5%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: lightcoral;
    color: white;
}
footer ul li{
    list-style: none;
}
.a{
    width: 15%;
}
.bot{
    display: flex;
}
#bot1{
 width: 80px; 
 border-radius: 40%;
}
#bot2{
    width: 80px;
    border-radius: 40%;
}

h2{
    font-size: 30px;
}
.hard{
    width: 100%;
    display: flex;
}
.shoe{
    width: 50%;
    padding-left: 100px;
    z-index: 9;
}
#askmyshoe{
margin-top: 20px;
    width: 500px;
    height: 400px;
}
.shoes{
    width: 50%;
    display: flex;
    padding-left: 50px;
}
#sole{
    width: 150px;
    height: auto;
}
.words{
    width: 50%;
}
#sizes li{
list-style: none;
display: inline;
padding: 0 8px;
}
.sm{
    width: 100%;
}
.sm h2{
    text-align: center;
}
body{
    overflow-x: hidden;
}
.hard{
    background-image: url(Images/bg.png);
}
#cart{
    background-image: linear-gradient(red,orange,pink);
}
#firsty{
    width: 60%;
}
.mid1{
    width: 100%;
    display: flex;
    margin: 0 100px;
}
.mid2{
    width: 100%;
    display: flex;
    margin: 0 100px;
}
.mid3{
    width: 100%;
    display: flex;
    margin: 0 100px;
}
.about{
    text-align: center;
}
.topper{
    width: 40%;
}
#redblack{
    width: 400px;
    border-radius: 10%;
}
.lor{
    width: 50%;
}
.downer{
    width: 40%;
    margin-right: 50px;

}
#butlinear{
    background-image: linear-gradient(orange,rgb(233, 68, 164));
    padding: 10px;
    width: 100px;
}
.dy{
    background-image: url(Images/bg.png);
}
.query{
    text-align: center;
}
.search{
    text-align: center;
}
#bars{
    padding: 15px;
    width: 400px;
    border-radius: 30px;

}
#bigbar{
    padding: 100px 0px;
    width: 420px;
    border-radius: 30px;
}
#bigbar placceholder{
    padding-bottom: 30px;
}
#icon{
    position: relative;
    left: 30%;
}
@media only screen and (max-width:700px) {
    body{
        background-color: aqua;
        width: 100%;
    }
    .first ul li{
    font-size: 10px;
    }
    #right{
        margin-top: 60px;
    }
    .last{
display: none;
    }
    .collection{
        width: 100%;
    }
    .topnav{
        display: inline-block;
        width: 60px;
    }
    .top{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin-bottom: 20px;
    }
    .bottom{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin-bottom: 20px;
    }
    
    #fix{
        font-size: 50px;
    }
    #right{
        width: 40%;
    }
    #mainshoe{
        width: 150px;
        padding-left: 40px;
    }
    .finally{
        margin: 5px;
    }
    .aftermain{
        width: 100%;
    }
    #one{
  width: 140px;
  height: 250px;
  margin:0px 20px;
  border-radius: 10%;
  background-color: rgb(146, 142, 142);
    }
    #pum{
        width: 100px;
    }
    #one h3{
        font-size: 10px;
    }
    #one p{
        font-size: 8px;
    }
    #one h4{
     font-size: 10px;
    }
    #feat{
        font-size: 20px;
    }
   
    .best{
        width: 80%;
        height: fit-content;
        margin: 0 25px;
    }
    #info{
        font-size: 10px;
    }
    #ton1{
        padding: 5px 8px;
        font-size: 5px;
    }
    .puma{
        width: 250px;
    }
    .nike{
        width: 250px;
    }
    .adidas{
        width: 250px;
    }
    #pumas{
        width: 60px;
        transform: rotate(-30deg);
    }
  
    .there{
        border: solid 0.5px;
        width: 90%;
        border-radius: 20px;
        margin: 0px 10px;
    
    }
    .finally{
        width: 90%;
    }
    .front{
        width: 300px;
    }
    .back{
       display: none;
    }
    .lan{
        display: none;
    }
    .shoe{
        padding-left: 0px;
    }
    #askmyshoe{
        width: 150px;
        height: 180px;
    }
    .shoes{
        padding-left: 0px;
    }
    #sole{
        width: 50px;
    }
    #firsty{
        display: inline;
        margin: 0.5rem;
    }
    .mid1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .mid2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .mid3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 50px;
    }
    .words{
        width: 30%;
    }
    footer{
        width: 95%;
        height: 100px;
        font-size: 7px;
    }
    .topnav{
        display: none;
    }
    .front{
        width: 80%;
        font-size: 10px;
        
    }
    #two{
        width: 100px;
    }
    #twa{
        width: 100px;
    }
    #bot1{
        width: 10px;

    }
    #bot2{
        width: 10px;

    }
    .first{
        display: inline-block;
        font-size: 8px;
    }
    body{
        overflow-x: hidden;
    }

  }

  @media only screen and (min-width:701px) and (max-width: 900px){
body{
    background-color: pink;
}
.topnav{
    display: none;
}
#mainshoe{
    width: 300px;
}
#fix{
    font-size: 30px;
}
.top{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-bottom: 20px;
    margin-left: 50px;
}
.bottom{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-bottom: 20px;
    margin-left: 50px;
}
#one{
    width: 300px;
    margin-bottom: 20px;
}
  }   